.body{
    flex: .8;
    height: 100vh;
    color: white;
    padding: 30px;
    overflow: auto;
    background: linear-gradient(transparent,rgba(0,0,0,10));
    background-color: rgb(32,87,100);
}
.body::-webkit-scrollbar{
    display: none;
}
.body--info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body--info img{
    height: 24vh;
    width: 170px;
    margin: 0 20px;
    box-shadow: 0px 4px 60px rgba(0,0,0,.5);
}
.info--text{
    flex: 1;
}
.info--text h2{
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 62px;
    margin-bottom: 10px;
}
.info--text p{
    font-size: 14px;
}
.body--song{
    margin: 20px -30px;
}
.icons--body{
    display: flex;
    align-items: center;
}
.icons--body .MuiSvgIcon-root{
    margin-right: 20px;
    color:#1ed15e;
}
.icons--body .player{
    font-size: 60px !important;
    margin: 0px 20px 2px 50px;
    color: #1ed15e;
}