.sidebar{
    flex: .2;
    height: 100vh;
    background-color: #040404;
    color: aliceblue;
    min-width: 230px;
    padding: 0px 10px;
}
.logo{
    height: 70px;
    margin-right: auto;
    padding :10px
}